absl-py 
astunparse 
cachetools 
certifi 
charset-normalizer 
cycler 
cmocean
flatbuffers 
fonttools 
gast 
google-auth 
google-auth-oauthlib 
google-pasta 
grpcio 
h5py 
idna 
importlib-metadata 
keras 
Keras-Preprocessing 
kiwisolver 
libclang 
Markdown 
matplotlib 
numpy 
netCDF4
oauthlib 
opt-einsum 
packaging 
Pillow 
protobuf 
pyasn1 
pyasn1-modules 
pyparsing 
python-dateutil 
requests 
requests-oauthlib 
rsa 
six 
tensorboard 
tensorboard-data-server 
tensorboard-plugin-wit 
tensorflow 
tensorflow-io-gcs-filesystem 
termcolor 
tf-estimator-nightly 
typing_extensions 
urllib3 
Werkzeug 
wrapt 
xarray
zipp 
